body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item {
  padding: 10px;
}

.input-item {
  float: left;
  clear: both;
  padding: 10px;
}


.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #606060;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #505050;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #505050;
  cursor: pointer;
}

rangeIn{
display: flex;
align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }


.display-block {
  display: block;
}

.display-none {
  display: none;
}
.page-view{
  float: left;
  clear: both;
  padding: 10px;
}

.form-component{
  border-bottom: 3px solid blue;
}

.view-component{
  padding-top: 2%;
}

.viewUser{
  padding: 5px;
  padding-top : 1%;
}
.viewUser, .sort-filter{
  padding-bottom: 2%;
  border-bottom: 3px dotted black;
}
.span-user{
  padding-bottom: 5px;
}

.space {
  padding: 1px;
}

.homepage{
  padding-top: 3%;
}
 
.button-space{
  padding-right: 2%;
}
 .custom{
   width: 45% !important;
 }
 .custom-sort{
  width: 28% !important;
}

.button-space-sort{
  padding-right: 1%;;
}

.sort{
  padding-right: 1%;
}

.user-row{
  padding-top : 1%;
}
.btn-user-row{
  padding-top : 3%;
}
#startDate, #endDate{
  width: 100% !important;
}
.setDate{
  padding-left: 1%;
}
.greyBox{
  background-color: #c9c1c1;
  height: 65% !important;
}
